@using LZY.BX.Model
@model User
@{
    ViewBag.Title = "UserEdit";
    var serviceCompanyUser = ViewData["serviceCompanyUser"] as ServiceCompanyUser;
    var serviceCompany = ViewData["serviceCompany"] as List<ServiceCompany>;

    var useCompanyUser = ViewData["useCompanyUser"] as UseCompanyUser;
    var useCompany = ViewData["useCompany"] as List<UseCompany>;
    var userType = ViewData["userType"].ToString();
}


<form class="form-horizontal form-label-left" action="@Url.Action("UserEdit")" method="POST">

    <span class="section">用户编辑</span>
    @if (userType == "Admin")
    {
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                服务单位
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="select2_single form-control" name="serviceCompanyId" tabindex="-1">
                    <option value="0">请选择服务单位</option>
                    @foreach (var item in serviceCompany)
                    {
                        if (serviceCompanyUser != null)
                        {
                            if (item.ServiceCompanyId == serviceCompanyUser.ServiceCompanyId)
                            {
                                <option value="@item.ServiceCompanyId" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.ServiceCompanyId">@item.Name</option>
                            }
                        }

                        else
                        {
                            <option value="@item.ServiceCompanyId">@item.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                报修单位
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="select2_single form-control" name="useCompanyId" tabindex="-1">
                    <option value="0">请选择报修单位</option>
                    @foreach (var item in useCompany)
                    {
                        if (useCompanyUser != null)
                        {
                            if (item.UseCompanyId == useCompanyUser.UseCompanyId)
                            {
                                <option value="@item.UseCompanyId" selected="selected">@item.Name</option>
                            }
                            else
                            {
                                <option value="@item.UseCompanyId">@item.Name</option>
                            }
                        }

                        else
                        {
                            <option value="@item.UseCompanyId">@item.Name</option>
                        }

                    }
                </select>
            </div>
        </div>
    }
    else if (userType == "UseCompany")
    {

        if (useCompanyUser != null)
        {
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    报修单位
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @{
            foreach (var item in useCompany)
            {
                if (item.UseCompanyId == useCompanyUser.UseCompanyId)
                {
                    <input class="form-control col-md-7 col-xs-12" value="@item.Name" readonly="readonly" />
                }
            }
                    }
                </div>
            </div>
        }

    }
    else
    {
        if (serviceCompanyUser != null)
        {
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    服务单位
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @{
            foreach (var item in serviceCompany)
            {
                if (item.ServiceCompanyId == serviceCompanyUser.ServiceCompanyId)
                {
                    <input class="form-control col-md-7 col-xs-12" value="@item.Name" readonly="readonly" />
                }
            }
                    }
                </div>
            </div>
        }
    }
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            账号
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.HiddenFor(x => x.UserId)
            @if (Model!=null)
            {
                @Html.TextBoxFor(x => x.Account, new { @class = "form-control col-md-7 col-xs-12", required = "required", @readonly = "readonly" })
            }
            else
            {
    @Html.TextBoxFor(x => x.Account, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
            }
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            手机号
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            昵称
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.NickName, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            姓名
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.RealName, new { @class = "form-control col-md-7 col-xs-12", required = "required" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            性别
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <select class="select2_single form-control" name="Sex" tabindex="-1">
                @if (Html.ValueFor(x => x.Sex).ToString() == "Man")
                {
                    <option value="Man" selected="">男</option>
                    <option value="Woman">女</option>
                }
                else
                {
                    <option value="Man">男</option>
                    <option value="Woman" selected="">女</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            年龄
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.Age, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            Email
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
            短语
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            @Html.TextBoxFor(x => x.Note, new { @class = "form-control col-md-7 col-xs-12" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button type="button" onclick="history.go(-1)" class="btn btn-primary">取消</button>
            <button id="send" type="submit" class="btn btn-success">保存</button>
        </div>
    </div>


</form>
