@using LZY.BX.Service
@model LZY.BX.Model.QueryModel.BrandQueryModel
@{
    ViewBag.Title = "Brand";
}
<form id="form1" action="@Url.Action("BrandSys")" method="POST">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>品牌管理</h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                @Html.ActionLink("添加", "BrandEdit", new { id = 0 }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <input type="text" class="form-control" name="key" value="@Request["key"]" placeholder="请输入名称">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>

            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">编号</th>
                                <th class="column-title">名称</th>
                                <th class="column-title">隶属制造商</th>
                                <th class="column-title">描述</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">编辑</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td class=" ">@item.BrandId</td>
                                    <td class=" ">@item.Name</td>
                                   
                                    @if (Model.ManufacturerDic.ContainsKey((long)item.ManufacturerId))
                                    {
                                        <td class=" ">@Model.ManufacturerDic[(long)item.ManufacturerId].Name</td>
                                    }
                                    else
                                    {
                                        <td class=" "></td>
                                    }
                                    <td class=" ">@item.Describe</td>
                                    <td class=" ">
                                        @Html.ActionLink("删除", "BrandDelete", new { id = item.BrandId }, new { onclick = "return confirm('确定要删除吗?')" })

                                        @Html.ActionLink("修改", "BrandEdit", new { id = item.BrandId })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            @Html.Partial("Html/Pager", @Model)

        </div>
    </div>
</form>
