@using LZY.BX.Model
@model LZY.BX.Model.QueryModel.AssertQueryModel
@{
    ViewBag.Title = "PropertySys";
}

<form id="form1" action="@Url.Action("PropertySys")" method="POST">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>资产管理</h2>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                @Html.ActionLink("添加", "PropertyEdit", new { id = 0 }, new { @class = "btn btn-primary" })
            </div>
            
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th class="column-title">资产编号</th>
                                <th class="column-title">名称</th>
                                <th class="column-title">所属制造商</th>
                                <th class="column-title">所属品牌</th>
                                <th class="column-title">所属产品</th>
                                <th class="column-title">型号</th>
                                <th class="column-title">类别</th>
                                <th class="column-title">地址</th>
                                <th class="column-title no-link last">
                                    <span class="nobr">编辑</span>
                                </th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Data)
                            {
                                <tr>
                                    <td class=" ">@item.AssertNumber</td>
                                    <td class=" ">@item.CNName</td>
                                    <td class=" ">@Model.ManufacturerDic[item.ManufacturerId].Name</td>
                                    <td class=" ">@Model.BrandDic[item.BrandId].Name</td>
                                    <td class=" ">@Model.ProductDic[item.ProductId].CNName</td>
                                    <td class=" ">@item.Model</td>
                                    <td class=" ">@Model.CategoryDic[item.CategoryId].Name</td>
                                    <td class=" ">@item.Location</td>
                                    <td class=" ">

                                        @Html.ActionLink("删除", "PropertyDelete", new { id = item.UseCompanyAssertId }, new { onclick = "return confirm('确定要删除吗?')" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
            @Html.Partial("Html/Pager", @Model)

        </div>
    </div>
</form>

