@model LZY.BX.Model.Page<LZY.BX.Model.UseCompany>
@{
    ViewBag.Title = "用户企业";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>用户企业管理</h2>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            @Html.ActionLink("添加", "CompanyEdit", new { id = 0 }, new { @class = "btn btn-primary" })
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">   
                            <th class="column-title">编号</th>
                            <th class="column-title">企业名称</th>
                            <th class="column-title">负责人</th>
                            <th class="column-title">联系电话</th>
                            <th class="column-title">地址</th>
                            <th class="column-title">类别</th>
                            <th class="column-title no-link last">
                                <span class="nobr">编辑</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td class=" ">@item.UseCompanyId</td>
                                <td class=" ">@item.Name</td>
                                <td class=" ">@item.Contact</td>
                                <td class=" ">@item.Phone</td>
                                <td class=" ">@item.Position</td>
                                <td class=" ">@item.Label</td>
                                <td class=" ">
                                   
                                    @Html.ActionLink("删除", "CompanyDelete", new { id = item.UseCompanyId }, new { onclick = "return confirm('确定要删除吗?')" })
                                    @Html.ActionLink("编辑", "CompanyEdit", new { id = item.UseCompanyId })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
        @Html.Partial("Html/Pager", @Model)
        
    </div>
</div>
