@model LZY.BX.Model.ServiceCompany
@{
    ViewBag.Title = "ServiceUnitEdit";
}

<form class="form-horizontal form-label-left" action="@Url.Action("ServiceUnitEdit")" method="POST">
    @if (Model == null)
    {
        <span class="section">维修单位添加</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                单位名称
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Name" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                单位类型
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control col-md-7 col-xs-12" name="Type">

                    <option value="In">内部单位</option>
                    <option value="Out">外部单位</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                标签
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Label" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                联系人
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required="required" name="Contact" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                联系电话
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required="required" name="Phone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                地址
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="Position" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="button" onclick="history.go(-1)" class="btn btn-primary">取消</button>
                <button id="send" type="submit" class="btn btn-success">保存</button>
            </div>
        </div>
    }
    else
    {


        <span class="section">维修单位修改</span>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                单位编号
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" value="@Model.ServiceCompanyId" name="ServiceCompanyId" readonly="readonly" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                单位名称
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" value="@Model.Name" name="Name" required="required" type="text">
            </div>
        </div>
        <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                单位类型
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select class="form-control col-md-7 col-xs-12" name="Type">
                    @if (Model.Type == "In")
                    {
                        <option value="In" selected="selected">内部单位</option>
                        <option value="Out">外部单位</option>
                    }

                    else
                    {
                        <option value="In">内部单位</option>
                        <option value="Out" selected="selected">外部单位</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                标签
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" value="@Model.Label" name="Label" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                联系人
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required="required" value="@Model.Contact" name="Contact" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                联系电话
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" required="required" value="@Model.Phone" name="Phone" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                地址
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" value="@Model.Position" name="Position" type="text">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="button" onclick="history.go(-1)" class="btn btn-primary">取消</button>
                <button id="send" type="submit" class="btn btn-success">保存</button>
            </div>
        </div>
    }


</form>

